@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

::selection {
  background-color: black;
  color: white;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: white;
    color: black;
    border-radius: 10px;
  }
}
